@{
    ViewBag.Title = "Paiement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Paiement</h2>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Paiement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.Label("Montant", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBox("Montant", (decimal)ViewBag.Montant, new { @class = "form-control", type = "number", step = "0.01", min = "0.01" })
                    @Html.ValidationMessage("Montant", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Monnaie", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("Monnaie", new SelectList((IEnumerable<string>)ViewBag.Monnaies, ViewBag.Monnaie), null, new { @class = "form-control" })
                    @Html.ValidationMessage("Monnaie", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Statut", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("Statut", new SelectList((IEnumerable<string>)ViewBag.Statuts, ViewBag.Statut), null, new { @class = "form-control" })
                    @Html.ValidationMessage("Statut", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Payer</button>
                    @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default", style = "margin-left:8px;" })
                </div>
            </div>
        }
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-success">Payer</button>
        @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default", style = "margin-left:8px;" })
    </div>
</div>
        }
    </div>
</div>
