@model IEnumerable<Thot_projet.Models.InscriptionBrowseVM>
@{
    ViewBag.Title = "S'inscrire à un cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>S'inscrire à un cours</h2>

@if (!Model.Any())
{
    <p><em>Aucun cours disponible.</em></p>
}
else
{
    <div class="row">
        @foreach (var c in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (!string.IsNullOrWhiteSpace(c.ImageUrl))
                    {
                        <img src="@c.ImageUrl" alt="@c.Nom" style="max-height:180px;object-fit:cover;width:100%;" />
                    }
                    <div class="caption">
                        <h3 style="margin-top:0">@c.Nom</h3>
                        <p>
                            <span class="label label-default">Niveau: @c.Niveau</span>
                            <span class="label label-info" style="margin-left:6px;">@c.Prix.ToString("0.00") CAD</span>
                        </p>

                        @if (c.DejaInscrit)
                        {
                            <p><span class="label label-success">Déjà inscrit</span></p>
                            <p>@Html.ActionLink("Voir mes cours", "Index", "Inscription", null, new { @class = "btn btn-default btn-sm" })</p>
                        }
                        else
                        {
                            @using (Html.BeginForm("Enroll", "Inscription", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("coursId", c.CoursId)
                                <button type="submit" class="btn btn-primary btn-sm">S'inscrire</button>
                                if (c.Prix > 0)
                                {
                                    <span class="help-block" style="display:inline-block;margin-left:8px;">
                                        Le paiement vous sera proposé après l’inscription.
                                    </span>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
