@model Thot_projet.Models.Ressource
@{
    ViewBag.Title = "Éditer la ressource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Éditer la ressource</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id) <!-- Conserver l'identifiant -->
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.ModuleCoursId, "Module")
            @Html.DropDownListFor(m => m.ModuleCoursId, (SelectList)ViewBag.ModuleCoursId, "-- choisissez un module --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ModuleCoursId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Type)
            @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre)
            @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Titre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.url)
            @Html.TextBoxFor(m => m.url, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.url, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Mettre à jour" class="btn btn-primary" />
        @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}
