@model Thot_projet.Models.Ressource
@{
    ViewBag.Title = "Supprimer la ressource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer</h2>
<p>Êtes-vous sûr de vouloir supprimer cette ressource ?</p>

<dl class="dl-horizontal">
    <dt>Cours</dt>
    <dd>@(Model.ModuleCours?.Cours != null ? Model.ModuleCours.Cours.Nom : "")</dd>

    <dt>Module</dt>
    <dd>@(Model.ModuleCours != null ? Model.ModuleCours.Numero.ToString() : "")</dd>

    <dt>Titre</dt>
    <dd>@Model.Titre</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id) <!-- Conserver l'identifiant -->
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
}
