@model Thot_projet.Models.Cours
@{
    ViewBag.Title = "Créer un cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creer un cours</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">



            @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })


            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control", placeholder = "Nom du cours" })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Niveau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Niveau, new { @class = "form-control", placeholder = "Niveau du cours" })
                @Html.ValidationMessageFor(model => model.Niveau, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-primary" />
                @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


