@model Thot_projet.Models.Cours
@{
    ViewBag.Title = "Modifier un cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .page-head {
        margin-bottom: 16px;
    }

        .page-head h2 {
            margin: 0 0 6px;
        }

    .soft-hr {
        margin: 8px 0 16px;
    }
</style>

<div class="page-head">
    <h2>Modifier un cours</h2>
    <hr class="soft-hr" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Niveau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.Niveau, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Prix, new { @class = "control-label col-md-2" })
            <div class="col-md-4">@Html.TextBoxFor(m => m.Prix, new { @class = "form-control", type = "number", step = "0.01", min = "0" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextAreaFor(m => m.Description, 4, 60, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-success" />
                @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default", style = "margin-left:8px;" })
            </div>
        </div>
    </div>
}
