@model Thot_projet.Models.ModuleCours
@{
    ViewBag.Title = "Éditer le module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Éditer le module</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.CoursId, "Cours", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CoursId, (SelectList)ViewBag.CoursId, "-- choisissez un cours --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CoursId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", type = "number", min = "1" })
                @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Titre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Titre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Mettre à jour" class="btn btn-primary" />
                @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    <!-- Scripts de validation côté client -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}